doctype
html
  head
    link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lora|Raleway:100")
    link(rel="stylesheet" href="/main.css")
    title Remy D'Agostino
  body
    != yield
