.section
  h1 Remy D'Agostino
.section.section--last
  h2
    a(target="_blank" href="http://soundcloud.com") I build Web Applications
  h2
    a(target="_blank" href="https://www.flickr.com/search/?q=melbourne+australia") I live in Melbourne, Australia
  h2
    a(target="_blank" href="http://en.wikipedia.org/wiki/Bayes_theorum") I love Mathematics
  h2
    a(target="_blank" href="http://www.w3.org/wiki/Open_Web_Platform") I care about the Open Web
  h2
    a(target="_blank" href="https://twitter.com/hashtag/vegan") I eat Vegetables
